<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
	<Appenders>
		<RollingFile name="ManagedServerLog" fileName="C:\\data02\\log\\society-soft.log"
			filePattern="/export/logs/ManagedServer.log-%d{yyyy-MM-dd}-%i.log"
			immediateFlush="true" append="true">
			<PatternLayout pattern="%d{yyy-MMM-dd HH:mm:ss.SSS} [%thread] %-5level - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy /><!-- Rotated everyday -->
				<SizeBasedTriggeringPolicy size="15 MB" /> <!-- Or every 15 MB -->
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
		<Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%d{yyy-MMM-dd HH:mm:ss.SSS} [%thread] %-5level - %m%n"/>
        </Console>
	</Appenders>
	<Loggers>
		<Logger name="org.springframework.web" level="INFO" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="ManagedServerLog" />
		</Logger>
		<Logger name="org.springframework" level="INFO" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="ManagedServerLog" />
		</Logger>
		<Logger name="com.society" level="DEBUG" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="ManagedServerLog" />
		</Logger>
		<Root level="INFO">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="ManagedServerLog" />
		</Root>
	</Loggers>
</Configuration>
